## Preprocessing

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns = ['EIN', 'NAME'], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [5]:
# Determine the number of unique values in each column.
for i in application_df.columns:
    print(i, len(application_df[i].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [6]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts<1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = application_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 5)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]


hidden_node1 = 7
hidden_node2 = 14
hidden_node3 = 21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node1, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_node2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 308

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 435
Trainable params: 435
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 3s 4ms/step - loss: 0.6110 - accuracy: 0.6833 - val_loss: 0.5746 - val_accuracy: 0.7266
Epoch 2/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5698 - accuracy: 0.7209 - val_loss: 0.5636 - val_accuracy: 0.7313
Epoch 3/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5609 - accuracy: 0.7271 - val_loss: 0.5609 - val_accuracy: 0.7326
Epoch 4/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5568 - accuracy: 0.7283 - val_loss: 0.5603 - val_accuracy: 0.7323
Epoch 5/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7280 - val_loss: 0.5573 - val_accuracy: 0.7344
Epoch 6/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5532 - accuracy: 0.7284 - val_loss: 0.5574 - val_accuracy: 0.7313
Epoch 7/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5521 - accuracy: 0.7285 - val_loss: 0.5574 - val_accuracy: 0.7258
Epoch 8/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7314 - val_loss: 0.5591 - val_accuracy: 0.7269
Epoch 9/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5508 - accuracy: 0.7314 - val_loss: 0.5587 - val_accuracy: 0.7331
Epoch 10/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7303 - val_loss: 0.5582 - val_accuracy: 0.7339
Epoch 11/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5499 - accuracy: 0.7317 - val_loss: 0.5577 - val_accuracy: 0.7323
Epoch 12/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7310 - val_loss: 0.5590 - val_accuracy: 0.7308
Epoch 13/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7315 - val_loss: 0.5591 - val_accuracy: 0.7240
Epoch 14/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7315 - val_loss: 0.5586 - val_accuracy: 0.7321
Epoch 15/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7320 - val_loss: 0.5587 - val_accuracy: 0.7323
Epoch 16/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7315 - val_loss: 0.5576 - val_accuracy: 0.7336
Epoch 17/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5478 - accuracy: 0.7317 - val_loss: 0.5569 - val_accuracy: 0.7305
Epoch 18/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5474 - accuracy: 0.7318 - val_loss: 0.5586 - val_accuracy: 0.7336
Epoch 19/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7304 - val_loss: 0.5565 - val_accuracy: 0.7328
Epoch 20/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7333 - val_loss: 0.5570 - val_accuracy: 0.7315
Epoch 21/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7316 - val_loss: 0.5580 - val_accuracy: 0.7336
Epoch 22/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7305 - val_loss: 0.5576 - val_accuracy: 0.7326
Epoch 23/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7310 - val_loss: 0.5593 - val_accuracy: 0.7326
Epoch 24/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7321 - val_loss: 0.5580 - val_accuracy: 0.7305
Epoch 25/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5459 - accuracy: 0.7330 - val_loss: 0.5571 - val_accuracy: 0.7323
Epoch 26/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7319 - val_loss: 0.5566 - val_accuracy: 0.7331
Epoch 27/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7325 - val_loss: 0.5561 - val_accuracy: 0.7308
Epoch 28/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7323 - val_loss: 0.5566 - val_accuracy: 0.7302
Epoch 29/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7328 - val_loss: 0.5570 - val_accuracy: 0.7318
Epoch 30/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7326 - val_loss: 0.5577 - val_accuracy: 0.7321
Epoch 31/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7331 - val_loss: 0.5569 - val_accuracy: 0.7315
Epoch 32/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7330 - val_loss: 0.5569 - val_accuracy: 0.7331
Epoch 33/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7329 - val_loss: 0.5595 - val_accuracy: 0.7289
Epoch 34/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5447 - accuracy: 0.7323 - val_loss: 0.5569 - val_accuracy: 0.7326
Epoch 35/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7325 - val_loss: 0.5564 - val_accuracy: 0.7300
Epoch 36/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7321 - val_loss: 0.5562 - val_accuracy: 0.7321
Epoch 37/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7321 - val_loss: 0.5570 - val_accuracy: 0.7318
Epoch 38/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7318 - val_loss: 0.5560 - val_accuracy: 0.7328
Epoch 39/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7340 - val_loss: 0.5563 - val_accuracy: 0.7331
Epoch 40/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7327 - val_loss: 0.5550 - val_accuracy: 0.7341
Epoch 41/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7327 - val_loss: 0.5566 - val_accuracy: 0.7326
Epoch 42/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7333 - val_loss: 0.5551 - val_accuracy: 0.7344
Epoch 43/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7331 - val_loss: 0.5566 - val_accuracy: 0.7313
Epoch 44/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7331 - val_loss: 0.5561 - val_accuracy: 0.7321
Epoch 45/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7326 - val_loss: 0.5572 - val_accuracy: 0.7334
Epoch 46/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7336 - val_loss: 0.5580 - val_accuracy: 0.7315
Epoch 47/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7338 - val_loss: 0.5547 - val_accuracy: 0.7341
Epoch 48/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7344 - val_loss: 0.5618 - val_accuracy: 0.7212
Epoch 49/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7344 - val_loss: 0.5555 - val_accuracy: 0.7328
Epoch 50/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5430 - accuracy: 0.7339 - val_loss: 0.5585 - val_accuracy: 0.7331
Epoch 51/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7340 - val_loss: 0.5552 - val_accuracy: 0.7344
Epoch 52/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7345 - val_loss: 0.5560 - val_accuracy: 0.7331
Epoch 53/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7340 - val_loss: 0.5563 - val_accuracy: 0.7334
Epoch 54/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7339 - val_loss: 0.5569 - val_accuracy: 0.7336
Epoch 55/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7332 - val_loss: 0.5564 - val_accuracy: 0.7328
Epoch 56/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7343 - val_loss: 0.5570 - val_accuracy: 0.7328
Epoch 57/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7339 - val_loss: 0.5555 - val_accuracy: 0.7323
Epoch 58/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7344 - val_loss: 0.5565 - val_accuracy: 0.7323
Epoch 59/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7346 - val_loss: 0.5560 - val_accuracy: 0.7326
Epoch 60/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7333 - val_loss: 0.5570 - val_accuracy: 0.7323
Epoch 61/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7351 - val_loss: 0.5547 - val_accuracy: 0.7321
Epoch 62/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7341 - val_loss: 0.5587 - val_accuracy: 0.7253
Epoch 63/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7351 - val_loss: 0.5589 - val_accuracy: 0.7334
Epoch 64/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7341 - val_loss: 0.5581 - val_accuracy: 0.7318
Epoch 65/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7353 - val_loss: 0.5573 - val_accuracy: 0.7323
Epoch 66/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5417 - accuracy: 0.7335 - val_loss: 0.5571 - val_accuracy: 0.7321
Epoch 67/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5416 - accuracy: 0.7365 - val_loss: 0.5552 - val_accuracy: 0.7326
Epoch 68/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7351 - val_loss: 0.5550 - val_accuracy: 0.7323
Epoch 69/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7348 - val_loss: 0.5581 - val_accuracy: 0.7313
Epoch 70/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7358 - val_loss: 0.5555 - val_accuracy: 0.7331
Epoch 71/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7356 - val_loss: 0.5564 - val_accuracy: 0.7313
Epoch 72/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7349 - val_loss: 0.5573 - val_accuracy: 0.7331
Epoch 73/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7351 - val_loss: 0.5562 - val_accuracy: 0.7315
Epoch 74/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7358 - val_loss: 0.5563 - val_accuracy: 0.7313
Epoch 75/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7346 - val_loss: 0.5570 - val_accuracy: 0.7313
Epoch 76/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7348 - val_loss: 0.5565 - val_accuracy: 0.7315
Epoch 77/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7359 - val_loss: 0.5561 - val_accuracy: 0.7326
Epoch 78/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7346 - val_loss: 0.5561 - val_accuracy: 0.7323
Epoch 79/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7354 - val_loss: 0.5574 - val_accuracy: 0.7310
Epoch 80/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7352 - val_loss: 0.5578 - val_accuracy: 0.7339
Epoch 81/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7364 - val_loss: 0.5571 - val_accuracy: 0.7328
Epoch 82/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7346 - val_loss: 0.5578 - val_accuracy: 0.7336
Epoch 83/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7355 - val_loss: 0.5590 - val_accuracy: 0.7323
Epoch 84/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7352 - val_loss: 0.5598 - val_accuracy: 0.7310
Epoch 85/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7362 - val_loss: 0.5570 - val_accuracy: 0.7318
Epoch 86/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7353 - val_loss: 0.5568 - val_accuracy: 0.7328
Epoch 87/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7353 - val_loss: 0.5566 - val_accuracy: 0.7326
Epoch 88/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7360 - val_loss: 0.5577 - val_accuracy: 0.7321
Epoch 89/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7352 - val_loss: 0.5580 - val_accuracy: 0.7305
Epoch 90/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7354 - val_loss: 0.5574 - val_accuracy: 0.7321
Epoch 91/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7362 - val_loss: 0.5568 - val_accuracy: 0.7328
Epoch 92/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7354 - val_loss: 0.5575 - val_accuracy: 0.7321
Epoch 93/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7362 - val_loss: 0.5564 - val_accuracy: 0.7331
Epoch 94/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7355 - val_loss: 0.5579 - val_accuracy: 0.7326
Epoch 95/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7347 - val_loss: 0.5569 - val_accuracy: 0.7315
Epoch 96/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7358 - val_loss: 0.5574 - val_accuracy: 0.7339
Epoch 97/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7356 - val_loss: 0.5582 - val_accuracy: 0.7336
Epoch 98/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5410 - accuracy: 0.7352 - val_loss: 0.5557 - val_accuracy: 0.7334
Epoch 99/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5408 - accuracy: 0.7356 - val_loss: 0.5570 - val_accuracy: 0.7331
Epoch 100/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7356 - val_loss: 0.5565 - val_accuracy: 0.7331

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5601 - accuracy: 0.7266 - 341ms/epoch - 1ms/step
Loss: 0.5600919127464294, Accuracy: 0.7266472578048706

In [18]:
# Export our model to HDF5 file
# nn.save('../h5_files/AlphabetSoupCharity.h5')

In [21]:
from google.colab import files

nn.save('/content/Model_1.h5')
files.download('/content/Model_1.h5')